
/*-------------      1. Default Section - Start       ----------------*/


/*------   General   -----*/

:root{
    font-size: 15px;

    --section-color: #ffffff;
    --title-color: #000000;
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --highlight-color: lightblue;
    --gray-color: #777;
    --text-font: Arial;
    --title-font: Arial;
}


html,body{
    height: 100%;
}

body{
    font-family: var(--text-font), sans-serif;
    width: 100%;
    height: 100%;
    font-size: 0.7rem;
    color: var(--primary-color);
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: 600;
    font-family: var(--title-font), sans-serif;
}

p,
input{
    font-size: 0.8rem;
}

a{
    text-decoration: none;
}

a:hover{
    outline:none;
    text-decoration: none;
}

ul,li{
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.primary-button{
    position: relative;
    border: 3px solid var(--highlight-color);
    border-radius: 5px;
    color: var(--primary-color);
    background: var(--secondary-color);
    transition: background .6s ease 0s;
    max-width: 10rem;
    max-height: 5rem;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
}

.primary-button:hover{
    background: var(--highlight-color);
    color: var(--secondary-color);
    box-shadow: 0px 10px 20px rgba(57, 56, 61, 0.205);
}

.uppercase{
    text-transform: uppercase;
}

/*------   Section   -----*/

.section-container{
    padding: 1.5rem;
    min-width: 100%;
    background-color: var(--section-color);
}

.section-title {
    text-align: center;
    flex-direction: column; 
    align-items: center;
    padding-bottom: 2rem;
}

.section-title h2 {
    font-size: 1.5rem;
    color: var(--primary-color);
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: uppercase;
}

.section-title span{
    color: var(--highlight-color);
}

.header-bar{
    background-color: var(--primary-color); 
    height: 0.1rem;
    width: 4rem;
}


h3{
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2rem;
    padding: 0.5rem;
 }

/*-------------      2. Default Section - End       ----------------*/



/*-------------      3. Header Section - Start       ----------------*/


.navbar-section{
    padding: 0;
    margin: 0;
}

.navbar{
    border:0;
    margin-bottom: 0;
    height: 4.5rem;
}

.navbar-nav{
    margin-left: auto;
    text-align: center; /*mobile*/
}

.navbar-nav li{
    margin: 9px 0; /*mobile*/
    /*margin-left: 0.75rem;
    margin-right: 0.75rem;     screen*/
}

.logo {
    text-transform: uppercase;
    font-size: 25px;
    padding: 0.3rem;
    letter-spacing: 3px;
    font-weight: 800;
    color: var(--secondary-color);
}

.logo span {
    color: var(--highlight-color);
}

.navbar-collapse {
    margin: 1rem auto;
    height: 80vh;
    max-height: 100%;
    max-width: 80vw;
    background-color: rgba(0, 0, 0, 0.9);
}

.navbar-collapse div{
    display: none;
}

.navbar-collapse li a{
    color: var(--secondary-color);
    text-transform: uppercase;
    font-weight: 400;
}

.navbar-collapse li a.active{
    color: var(--highlight-color);
}

.navbar-collapse li a:hover{
    color: var(--highlight-color);
}

.navbar-collapse li a:hover::after{
    border-bottom: 1px solid var(--highlight-color);
    content: "";
    display: block;
    margin: 0 auto;
    width: 10%;
}

.navbar-toggler i{
    color: var(--secondary-color);
    font-size: 25px;
    border: none;
}

.navbar.sticky-navigation{
    background: var(--secondary-color);
    box-shadow: 0px 10px 20px rgba(57, 56, 61, 0.205);
    transition: all 0.4s ease-out;
    height: 4rem;
    /*height: 5rem;   screeen*/ 
}

.sticky-navigation .logo{
    color: var(--primary-color);
    font-size: 15px;
}

.sticky-navigation .navbar-collapse li a,
.sticky-navigation .navbar-collapse li a:hover
.sticky-navigation .navbar-collapse li a.active {
    color: var(--secondary-color);
}

.sticky-navigation .navbar-collapse li a:hover::after
.sticky-navigation .navbar-collapse li a.active::after{
    border-bottom: 1px solid var(--secondary-color);
    width: 10%;
    content: "";
    display: block;
    margin: 0 auto;

    /*border-bottom: 1px solid var(--highlight-color);
    width: 50%;                                         screen*/
    
}

.sticky-navigation .navbar-toggler i,
.sticky-navigation .navbar-toggler:hover,
.sticky-navigation .navbar-toggler.active{
    color: var(--highlight-color);
    font-size: 25px;
    border: none;
}

.navbar-toggler:focus,
.sticky-navigation .navbar-toggler:focus{
    outline: none;
}


/*-------------      3. Header Section - End       ----------------*/

/*-------------      4. Hero Section - Start       ----------------*/


.hero-section{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7) ), url("../img/dummy.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    color: var(--primary-color);;
    text-align: center;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 90vh;
   
}

/*-------------      Hero Section - End       ----------------*/ 


/*-------------      Favourite Categories Section - Start       ----------------*/

.categories-container{
    justify-content: space-around;
    margin-bottom: 2rem;
 }
 
 .categories-item {
    padding: 1rem;
 }
 
 .categories-img{
    width: 4rem;
    height: 4rem;
    border-radius: 3rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 .label{
    margin-top: 1rem;
 }


/*is it really needed?? */
.wrapper {
    position: relative;
}

.overlay {
    position: absolute;     
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: var(--highlight-color);
    opacity: 0;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    cursor: crosshair;
}


/* how do I center the text vertically -align items doesn't work??*/
.overlay .overlay-inner {
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
    align-items: center;
}

.overlay-inner h3,
.overlay-inner p {
    color: var(--secondary-color);  
}

a:hover .overlay {
    opacity: 1;
}
 
/*-------------      Favourites Categories Section - End       ----------------*/


/*-------------      Featured Dishes - Start       ----------------*/


.featured-dishes-card {
    color: var(--primary-color);
    border-radius: 10px;
    text-align: center;
    
    border: 2px solid green;
}

.featured-dishes-card-img {
    min-height: 200px;
    width: 100%;
    height: 100%;
    background: url("/img/dummy.jpg") no-repeat;
    background-size: cover;
}

.featured-dishes-card-img h3{
    color: var(--secondary-color);
    
}

.featured-dishes-card-body{
    padding: 1rem;
}

.grid {
    padding: 0;
    margin: 0;
    border: 2px solid black;
}

.owl-dots{
    text-align: center;
    margin-top: 2rem;
}

.owl-dot {
    display: inline-block;
    height: 0.7rem !important;
    width: 0.7rem !important;
    background-color: var(--secondary-color) !important;
    opacity: 0.8;
    border-radius: 50%;
    margin: 0 0.3rem;
}

.owl-dot.active {
    background-color: var(--highlight-color) !important;
}


/* for test reasons */
i{
    background-color: red;
    z-index: 10;
    font-size: 25px;
    border: none;
}


/*-------------      Featured Dishes - End       ----------------*/



/*-------------      Contact Section - Start       ----------------*/

.left-contact{
    margin: 2rem 0;
    display: flex;
    justify-content: center;
}

.left-contact-text {
    padding: 0 3rem;
    margin-bottom: 1.3rem;
}

.left-contact-text h2{
    margin-top: 2px;
    margin-bottom: 5px;
    
    font-weight: 600;
    font-size: 0.9rem;
    letter-spacing: 3px;
}

.left-contact-text p{
    color: var(--gray-color);
}

#contact-form {
    padding: 2rem;
    box-shadow: 0px 10px 20px rgba(57, 56, 61, 0.205);
    margin-left: 0;
}

.form-control{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid var(--gray-color);;
    padding: 1.5rem 1rem;
}

.form-control::placeholder{ /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--gray-color);
    font-size: 0.8rem;
  }

textarea.form-control{
    height: 10rem;
    min-height: 100px;
}

/*-------------      Contact Section - End       ----------------*/


/*-------------      10. Footer Section - Start       ----------------*/

.footer-section{
    background-color: var(--highlight-color);
    width: 100%;
    height: 10vh;                                     
    justify-content: center;
    align-items: center;
}

.footer-section p{
    margin: 0;
}


/*-------------      10. Footer Section - End       ----------------*/



/*-------------     Media Queries - Start       ----------------*/

/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) {}

/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    
    .navbar-collapse li {
        margin-left: 0;
        margin-right: 0;
    }
}

/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {
    
    

} 

/*-------------      Media Queries - End       ----------------*/
