
/*-------------      1. Default Section - Start       ----------------*/


/*------   General   -----*/

:root{
    font-size: 15px;

    --section-color: #ffffff;
    --title-color: #000000;
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --highlight-color: lightblue;
    --gray-color: #777;
    --text-font: Arial;
    --title-font: Arial;
}


html,body{
    height: 100%;
}

body{
    font-family: var(--text-font), sans-serif;
    width: 100%;
    height: 100%;
    font-size: 0.7rem;
    color: var(--primary-color);
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: 600;
    font-family: var(--title-font), sans-serif;
    text-align: center;
}

p,
input{
    font-size: 0.8rem;
}

a{
    text-decoration: none;
}

a:hover{
    outline:none;
    text-decoration: none;
}

ul,li{
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.primary-button{
    position: relative;
    border: 3px solid var(--highlight-color);
    border-radius: 5px;
    color: var(--primary-color);
    background: var(--secondary-color);
    transition: background .6s ease 0s;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
}

.primary-button:hover{
    background: var(--highlight-color);
    color: var(--secondary-color);
    box-shadow: 0px 10px 20px rgba(57, 56, 61, 0.205);
}

.uppercase{
    text-transform: uppercase;
}

.highlight{
    color: var(--highlight-color);
}

h2 {
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

h3{
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: 0.5rem;
 }


.header-bar{
    background-color: var(--primary-color); 
    height: 0.1rem;
    width: 4rem;
}




/*-------------      2. Default Section - End       ----------------*/



/*-------------      3. Header Section - Start       ----------------*/


.navbar-section{
    padding: 0;
    margin: 0;
}

.navbar{
    border:0;
    margin-bottom: 0;
    height: 4.5rem;
}

.navbar-nav li{
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

.navbar-icons img{
    width: 25%;
    padding: 0 0.25rem;
}

.logo {
    text-transform: uppercase;
    font-size: 25px;
    padding: 0.3rem;
    letter-spacing: 3px;
    font-weight: 800;
    color: var(--secondary-color);
}

.logo span {
    color: var(--highlight-color);
}

.navbar-collapse li a{
    color: var(--secondary-color);
    text-transform: uppercase;
    font-weight: 400;
}

.navbar-collapse li a.active{
    color: var(--highlight-color);
}

.navbar-collapse li a:hover{
    color: var(--highlight-color);
}

.navbar-collapse li a:hover::after{
    border-bottom: 1px solid var(--highlight-color);
    content: "";
    display: block;
    margin: 0 auto;
    width: 10%;
}

.navbar-toggler i{
    color: var(--secondary-color);
    font-size: 25px;
    border: none;
}

.navbar.sticky-navigation{
    background: var(--secondary-color);
    box-shadow: 0px 10px 20px rgba(57, 56, 61, 0.205);
    transition: all 0.4s ease-out;
    height: 5rem;
}

.sticky-navigation .logo{
    color: var(--primary-color);
    font-size: 15px;
}

.sticky-navigation .navbar-collapse li a,
.sticky-navigation .navbar-collapse li a:hover
.sticky-navigation .navbar-collapse li a.active {
    color: var(--primary-color);
}

.sticky-navigation .navbar-collapse li a:hover::after
.sticky-navigation .navbar-collapse li a.active::after{
    border-bottom: 1px solid var(--primary-color);
    width: 10%;
    content: "";
    display: block;
    margin: 0 auto;

    /*border-bottom: 1px solid var(--highlight-color);
    width: 50%;                                         screen*/
    
}

.sticky-navigation .navbar-toggler i,
.sticky-navigation .navbar-toggler:hover,
.sticky-navigation .navbar-toggler.active{
    color: var(--highlight-color);
    font-size: 25px;
    border: none;
}

.navbar-toggler:focus,
.sticky-navigation .navbar-toggler:focus{
    outline: none;
}


/*-------------      3. Header Section - End       ----------------*/

/*-------------      4. Hero Section - Start       ----------------*/


.carousel-item{
    position: relative;
    height: 80vh;
}

div .overlay {
    position: absolute;     
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7) );
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.hero-img{
    width: 100%;
    height: 100%;
}

/*-------------      Hero Section - End       ----------------*/ 


/*-------------      Favourite Categories Section - Start       ----------------*/

 .categories-img{
    width: 6rem;
    min-width: 50px;
    height: 6rem;
    min-height: 50px;
    border-radius: 100%;


    display: flex;
    align-items: center;
    justify-content: center;
 }

.wrapper {
    position: relative;
}

a .overlay {
    position: absolute;     
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: var(--highlight-color);
    opacity: 0;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    cursor: crosshair;
}


/* how do I center the text vertically -align items doesn't work??*/

.overlay .overlay-inner {
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
    align-items: center;
}

.overlay h3,
.overlay p {
    color: var(--secondary-color);
}

a:hover .overlay {
    opacity: 1;
}
 
/*-------------      Favourites Categories Section - End       ----------------*/


/*-------------      Featured Dishes - Start       ----------------*/


.card-img{
    background: url("/img/dummy.jpg") no-repeat;
    background-size: cover;
    border-radius: 0.8rem;
    width: 100%;
    height: 100%;
    min-height: 150px;
}

.card {
    color: var(--primary-color);
    border-radius: 0.8rem;
    text-align: center;
    max-width: 260px;
    box-shadow: 1.5rem 0 1.5rem -0.5rem var(--highlight-color), -1.5rem 0 1.5rem -0.5rem var(--highlight-color);
}

.card h3{
    color: var(--secondary-color);
}

.card-text{
    color: var(--primary-color);
}


.grid {
    padding: 0;
    margin: 0;

    border: 2px solid black;
}


.featured-dishes-slider .owl-nav{
    font-size: 4rem;
    display: flex;
    justify-content: space-between;
}

.featured-dishes-slider .owl-nav span:hover{
    font-size: 4rem;
    color: var(--highlight-color);
  
  
    background-color: transparent;
}

.owl-nav button:hover{
    background: inherit;
}

/*
    .owl-theme .owl-nav [class*='owl-']:hover {
      background: #869791;
      color: #FFF;
      text-decoration: none; }
*/

/* for test reasons */
#featuredDishes{
    background-color: red;
}



/*-------------      Featured Dishes - End       ----------------*/



/*-------------      Contact Section - Start       ----------------*/

.left-contact{
    height: 100%;
    justify-content: center;
    margin-right: 3rem;
}

/*.left-contact-text {
    padding: 0 3rem;
    margin-bottom: 1.3rem;
}*/

.left-contact p,
.left-contact i{
    margin: 0;
    padding: 0.2rem;
}

#contact-form {
    padding: 2rem;
    box-shadow: 0px 10px 20px rgba(57, 56, 61, 0.205);
    margin-left: 0;
}

.form-control{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid var(--gray-color);;
    padding: 1.5rem 1rem;
}

.form-control::placeholder{ /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--gray-color);
    font-size: 0.8rem;
  }

textarea.form-control{
    height: 10rem;
    min-height: 100px;
}

/*-------------      Contact Section - End       ----------------*/


/*-------------      10. Footer Section - Start       ----------------*/

.footer-section{
    background-color: var(--highlight-color);
    height: 10vh;                                     
}


/*-------------      10. Footer Section - End       ----------------*/



/*-------------     Media Queries - Start       ----------------*/

/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) {}

/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    
    .navbar-collapse li {
        margin-left: 0;
        margin-right: 0;
    }
}

/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {
    
    .navbar-collapse {
        margin: 1rem auto;
        height: 80vh;
        max-height: 100%;
        max-width: 80vw;
        background-color: rgba(0, 0, 0, 0.9);
    }

    .navbar-icons{
        display: none;
    }
    
    .navbar-nav li{
        margin: 9px 0;
    }

    .navbar.sticky-navigation{
        height: 4rem;
    }


    .left-contact{
        padding-bottom: 2rem;
        margin-right: 0;
    }

} 

/*-------------      Media Queries - End       ----------------*/
